html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 230px;
  max-width: 95%;
  margin: 30px 40px;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);

  font:
    28px "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.4em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4d4d4d;

  background: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 20px;

  text-align: center;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 40px 0;

  font-size: 5rem;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.5);
}

h2 {
  margin: 30px 0;

  font-size: 2.5rem;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.6);
}

main {
  border-top: 1px solid #e6e6e6;

  background: #fff;
}
